#preloadersection{
        display: grid;
        grid-template-columns: auto 40vw auto;
        grid-template-areas: ". preloader ";
        position: absolute;
        height: 100vh;
        width: 100%;
        z-index: 5000;
        background-color: #E8C197;
    
        @include md{
            grid-template-columns: auto 35vw auto;
        }
        @include lg{
            grid-template-columns: auto 40vw auto;
        }
        @include xl{
            grid-template-columns: auto 45vw auto;
        }
    
        #preloaderdiv{
            stroke-width: 1px;
            grid-area: preloader;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
