header{
    position: fixed;
    width: 100%;
    background-color: white;
    display: grid;
    margin-top: 0%;

    >div{
        display: grid;
        grid-template-columns: 20% auto;
        padding: 8px 16px;
    }

    aside{
        a{
            display: inline-block;
            
        }
    }
}